<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.GoodsMapper">

    <select id="selectgoodsbyList" parameterType="java.util.List" resultType="com.shop.entity.Goods">
        SELECT * FROM web.goods WHERE id IN
        <foreach item="item" collection="recommendgoods" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectgoodsoutList" parameterType="java.util.List" resultType="com.shop.entity.Goods">
        SELECT * FROM web.goods WHERE id NOT IN
        <foreach item="item" collection="recommendgoods" open="(" separator="," close=")">
            #{item}
        </foreach>
        LIMIT 5
    </select>

</mapper>